/*#consola {
background-color: #D3D3D3;
position: absolute;
height: 151;
right: 0;
left: 0;
bottom: 26;
border-top: solid 1px #222222;
box-shadow: 0px -1px 0px #000000;
-webkit-user-select: none;

}

#salida {
width: 33%;
background-color: transparent;
border: none;
color: #2E2E2E;
padding: 10px;
height: 150px;
outline: none;
}

#top {
background: -webkit-linear-gradient(top, #DADADA 0%,#949494 100%);
position: absolute;
top: 0;
left: 0;
right: 0;
height: 58;
border-top: solid 1px #FFFFFF;
-webkit-app-region: drag;
cursor: default;
text-align: right;
border-bottom: solid 1px #858585;
}

#status-bar {
background: -webkit-linear-gradient(top,#D6D6D6 0%, #8D8D8D 100%);
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 25;
border-top: solid 1px #B1B1B1;
z-index: 10;
-webkit-user-select: none;
}

body {
	margin: 0px;
	overflow: hidden;
	background-color: #050505;
	-webkit-user-select: none;

}

#editor {
margin: 0;
position: absolute;
top: 60;
bottom: 177;
left: 0;
right: 0;
}

.boton_m {
	background: -webkit-linear-gradient(top, #A8A8A8 0%,#666666 100%);
	border: solid 2px #BDBDBD;
	border-radius: 30px;
	padding: 9px;
	margin: 10px 10px 10px 0px;
	cursor: pointer;
	box-shadow: inset 0px 1px 2px #303030;
	-webkit-app-region:no-drag;
}

.boton_w {
background: transparent;
border: none;
padding: 2px;
margin: 10px 3px;
cursor: pointer;
	-webkit-app-region:no-drag;

}

#boton_m2 {
	background: -webkit-linear-gradient(top, #353535 0%,#1A1A1A 100%);
	border: solid 1px #000000;
	border-radius: 30px;
	padding: 9px;
	margin: 10px 0px 10px 10px;
	cursor: pointer;
}

.boton_m:active {
	background: -webkit-linear-gradient(top,#000000 0%, #242424 100%);
}
*/



#consola {
background-color: #252525;
position: absolute;
height: 151;
right: 0;
left: 0;
bottom: 27;
border-top: solid 1px #363636;
box-shadow: 0px -1px 0px #000000;
-webkit-user-select: none;

}

#salida {
width: 32%;
background-color: transparent;
border: none;
color: #BBB;
padding: 10px;
height: 150px;
outline: none;
resize: none;
}

#salida1 {
width: 32%;
background-color: transparent;
border: none;
color: #BBB;
padding: 10px;
height: 150px;
outline: none;
resize: none;
}

#salida2 {
width: 32%;
background-color: transparent;
border: none;
color: #BBB;
padding: 10px;
height: 150px;
outline: none;
resize: none;
}

#top {
background: -webkit-linear-gradient(top, #2C2C2C 0%,#181818 100%);
position: absolute;
top: 0;
left: 0;
right: 0;
height: 58;
border-top: solid 1px #363636;
-webkit-app-region: drag;
cursor: default;
text-align: right;
border-bottom: solid 1px #000;
}

#status-bar {
background: -webkit-linear-gradient(top,#161616 0%, #0E0E0E 100%);
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 25;
border-top: solid 1px #252525;
z-index: 10;
-webkit-user-select: none;
}

body {
	margin: 0px;
	overflow: hidden;
	background-color: #050505;
	-webkit-user-select: none;

}

#editor {
margin: 0;
position: absolute;
top: 60;
bottom: 180;
left: 0;
right: 0;
}

.boton_m {
	background: -webkit-linear-gradient(top, #202020 0%,#000000 100%);
	border: solid 2px #000000;
	border-radius: 30px;
	padding: 9px;
	margin: 10px 10px 10px 0px;
	cursor: pointer;
	box-shadow: inset 0px 1px 2px #303030;
	-webkit-app-region:no-drag;
	outline: none;
}

.boton_w {
background: transparent;
border: none;
padding: 2px;
margin: 10px 3px;
cursor: pointer;
	-webkit-app-region:no-drag;

}

#boton_m2 {
	background: -webkit-linear-gradient(top, #353535 0%,#1A1A1A 100%);
	border: solid 1px #000000;
	border-radius: 30px;
	padding: 9px;
	margin: 10px 0px 10px 10px;
	cursor: pointer;
}

.boton_m:active {
	background: -webkit-linear-gradient(top,#000000 0%, #242424 100%);
}












































/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1); 
    border-radius: 8px;
    background-color: rgba(34, 34, 34, 1);
    margin: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(109, 109, 109, 1); 
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0); 
}

